extends layout

block content

	div(class="fill-parent", id="main")
		!= reactOutput

	script.
		window.user = !{ user ? JSON.stringify(user) : 'null' };

	- if(process.env.NODE_ENV === 'development') {
		script(src="/assets/scripts/bundle.js")
	- } else if (process.env.NODE_ENV === 'production') {
		script(src="/assets/scripts/bundle.min.js")
	- }