doctype html
html
	head
		title My New America
		meta(name='description', content="Intranet for the New America Foundation")
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
		meta(name="fragment", content="!")
		link(rel="shortcut icon", type="image/x-icon", href='/assets/images/favicon.ico')
		- if(process.env.NODE_ENV === 'development') {
			link(rel="stylesheet", type="text/css", href="/assets/styles/app.css")
		- } else if (process.env.NODE_ENV === 'production') {
			link(rel="stylesheet", type="text/css", href="/assets/styles/app.min.css")
		- }
		

	body

		block content