extends layout

block content

	div(class="login")
		div(class="login__container")
			div(class="login__title")
				em my
				span NEW AMERICA
			a(href="/auth/google",class="login__button")
				p Login with Google